
  @import url('https://fonts.googleapis.com/css2?family=Acme&family=Domine:wght@600&display=swap');



.App {
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, #5386f5, #000);
  overflow: hidden;
}
.Navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  background: linear-gradient(to right, #000,#555454);
}
select {
  background-color: #000;
  margin: 0 20px;
  color: white;
}
label {
  color: white;
}

.Reader {
  position: absolute;
  top: 8%;
  width: 60%;
  height: 75%;
  background: #000;
  color: white;
  border: 12px inset white;
  border-radius: 10%;
  margin: 12px;
  padding: 20px 16px;
  overflow: hidden;
}

h1 {
  font-family: 'Domine', serif;
  text-align: center;
}

h5 {
  text-align: center;
  font-style: italic;
  margin-bottom: 40px;
  font-family: 'Domine', serif;
}
.pageBtns {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.read {
  position: relative;
  height: 100%;
  
  overflow-y: scroll;
  padding: 10px;
}
.read::-webkit-scrollbar {
  border-radius: 30%;
  cursor: pointer;
}
.read::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 10%;
  width: 20px;

}
.nextBtn, .prevBtn {
  border: none;
  outline: none;
  background-color: darkred;
  font-size: 1.5rem;
  padding: 12px 14px;
  color: white;
  border-radius: 40%;
  cursor: pointer;
  box-shadow: 8px 8px 8px 0 white;
}
.nextBtn:hover, .prevBtn:hover {
  color: red;
  background-color: white;
}
p {
  font-size: 18px;
}
b {
  font-size: 12px;
  color: yellow;
}